body {
    width: 80%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.logo img{
    height: 70px;
    border-radius: 50%;
}
.first {
    width: 500px;
    height: 700px;
    z-index: -1;
    top: 0;
    position: absolute;
    right: 92px;

}
.top-hero{
    display: flex;
    height: 600px;
        
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.top-img img{
    height: 300px;
    width: 300px;
}
.bottom-img img{
    height: 300px;
    width: 300px;
}